@import 'tailwindcss';

@theme {
  --color-primary-50: #ffffff;
  --color-primary-400: #363659;
  --color-primary-500: #131332;
  --color-primary-600: #14134145;
  --color-primary-700: #0c0c48aa;
  --color-primary-800: #0f1423d9;
  --color-primary-900: #0d0d1f;
  --color-primary-950: #000000;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
